### 별자리 
- 양자리 · 황소자리 · 쌍둥이자리 · 게자리 · 사자자리 · 처녀자리

In [27]:
import praw 
reddit = praw.Reddit(client_id="eJ-h0080ljmj-J4fu3GIAg",
                    client_secret="4u1DT2XA-tKiWNk22Hy6I8mWfR9BaQ",
                    user_agent="multicampus")

In [28]:
import requests

In [76]:
subreddit = 'AriesTheRam'
limit = 100
timeframe = 'all'
listing = 'best'

def get_posters(r):
    #서브레딧-포스트(베스트 100개에 대한)에 대한 작성자명 가져오기.
    # 1000개 행!(맨 앞2개, best)
    authors = []
    for author in r['data']['children']:
        x = author['data']['author']
        authors.append(x)
    return authors

In [77]:
import requests
subreddit = 'AriesTheRam'
limit = 100
timeframe = 'month'
listing = 'best'

# 작가 정보를 얻어오기 위한 json 객체 호출
def get_redd(subreddit, listing, limit, timeframe):
    try:
        base_url = f'https://www.reddit.com/r/{subreddit}/{listing}.json?limit={limit}&t={timeframe}'
        request = requests.get(base_url, headers = {'User-agent':'yourbot'})
    except:
        print('Error')
    return request.json()

In [78]:
# 작가별 게시글을 가져오기 위한 json 객체 호출
def get_reddit(subreddit, listing, limit, timeframe, author):
    try:
        base_url = f'https://www.reddit.com/r/{subreddit}/{listing}.json?limit={limit}&t={timeframe}&author={author}'
        request = requests.get(base_url, headers = {'User-agent':'yourbot'})
    except:
        print('Error')
    return request.json()

In [120]:
import pandas as pd

zodiacs = ['AriesTheRam','Taurusgang','geminis','Cancerian','LeoAstrology','virgoseason']
authors = []
zodiac_type = []
for zodiac in zodiacs:
    limit = 100
    timeframe = ['all', 'year', 'month', 'day']
    listing = ['hot', 'top', 'controversial']
    for time in timeframe :
            try:
                r = get_redd(zodiac, lit, limit, time)
                # 위 get_redd로 가져온 객채로 mbti 별 베스트 글 작성자 100명 모집.
                posters = get_posters(r)
                for poster in posters :
                    authors.append(poster)
                    zodiac_type.append(zodiac)            
            except:
                pass

In [121]:
df_raw = pd.DataFrame({'type':zodiac_type, 'authors':authors})

In [122]:
authors = df_raw.drop_duplicates()

In [123]:
stand = authors['authors'].value_counts() >= 2

In [124]:
len(stand[stand==True].index)

34

In [125]:
stand[stand==True].index

Index(['[deleted]', 'Drdontcare78', 'Emailabuddy', 'scorpiodaughter',
       'ryzilgadaffi', 'bisexualhamster21', 'sweetlikehoney981',
       '10ofCups1977', 'tebapm', 'J0c381310', 'Queasy_Basis4269',
       'ModernAstroGuru', '19neo91', '-light-life-', 'Candid_Salamander_64',
       'SnooWoofers3368', 'isabel_infolive', 'AnbulaccOP',
       'Pianist-thatsgross', 'lmntlstarreads', 'perplexedpineapple0',
       'Rossykins96', 'IrateMars91', 'One-Ship-369', 'Acrobatic-Fox5883',
       'BrucealCorleone', 'beautyaal', 'zodiac-season', 'Top-Mortgage-6358',
       'sweetapplecrisp_97', 'ProfessionalLog5330', 'Rolland_Ice',
       'AstronautFantastic67', 'LeyLinda'],
      dtype='object')

In [126]:
for user in stand[stand==True].index:
    delete = authors[authors['authors']==user]
    authors.drop(delete.index, inplace=True)

C:\Users\guddk\AppData\Local\Temp\ipykernel_4508\2610465850.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors.drop(delete.index, inplace=True)

In [127]:
authors #중복제거된 authors 데이터세트.

             type            authors
0     AriesTheRam           dafri123
2     AriesTheRam  ibullyaznidentity
3     AriesTheRam         Phialavida
6     AriesTheRam  propensity2thrive
9     AriesTheRam        PelgerHuet_
...           ...                ...
1216  virgoseason            huffdin
1218  virgoseason     Love-M-designs
1219  virgoseason         Xingjinkai
1225  virgoseason          CasLyn817
1229  virgoseason          xotacaraa

[383 rows x 2 columns]

In [128]:
def get_redd_body_byauth(username, limit, type):
    try:
        base_url = f'https://www.reddit.com/user/{username}/overview/.json?limit={limit}&type={type}&t=all'
        request = requests.get(base_url, headers = {'User-agent':'yourbot'})
    except:
        print('Error')
        
    r= request.json()
    bodies = []
    
    try:
        for posts in r['data']['children']:
            bodies.append(posts['data'])
    except:
        pass
    
    posts = []
    for body in bodies:
        if 'body' in body:
            posts.append(body['body'])
        else :
            posts.append(body['selftext'])
    post = '|||'.join(posts)
    return post

In [129]:
import time
from tqdm import tqdm
import pandas as pd

post_df = pd.DataFrame(columns=['author', 'post'])
i=0
for author in tqdm(authors['authors'], desc='iterate list') :
    post = get_redd_body_byauth(author, 100, 'links')
    df = pd.DataFrame({'author':author, 'posts':post}, index=[i])
    i += i
    post_df = pd.concat([post_df, df])

iterate list: 100%|██████████████████████████████████████████████████████████████████| 383/383 [07:09<00:00,  1.12s/it]

In [130]:
post_df

               author post                                              posts
0            dafri123  NaN  Better the truth. It hurts tho.  But yeah,  th...
0   ibullyaznidentity  NaN  *and girls|||Common Vivaldi W|||As a Sidemen f...
0          Phialavida  NaN  Love reading your poems and journaling it soun...
0   propensity2thrive  NaN  Dark brown!|||Thank you. I actually have begun...
0         PelgerHuet_  NaN  [removed]|||[removed]|||I don't want to invali...
..                ...  ...                                                ...
0             huffdin  NaN  Thank you! :)|||Thank you so much! :)|||Thank ...
0      Love-M-designs  NaN                                                |||
0          Xingjinkai  NaN  |||Happiness and love 🥰|||She will connect wit...
0           CasLyn817  NaN  $9.00 a carton in New Hampshire.|||I didn’t wa...
0           xotacaraa  NaN  ||||||Thank you!!|||It won’t say OnlyFans. It’...

[383 rows x 3 columns]

In [131]:
post_df = post_df.rename(columns={'author':'authors'})

In [132]:
total_zodiac_raw = df_raw.merge(post_df, on='authors').drop_duplicates(ignore_index=True)

In [133]:
total_zodiac_raw.drop(columns=['post'], inplace=True)

In [134]:
total_zodiac_raw['type'].value_counts()

geminis         112
AriesTheRam     103
Taurusgang       64
virgoseason      42
Cancerian        32
LeoAstrology     30
Name: type, dtype: int64

In [136]:
total_zodiac_raw.to_csv('zodiac2.csv')